body, html {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-image: url("https://github.com/Sha-98/Data-Science-Masters/assets/89126969/1cffb15d-9970-463d-b88b-ed7177debc67");
  }

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
